<h1><%= @user.username %></h1>

<h2>Your Cafes:</h2>

<% if @user.reviews.present? %>
  <ul>
    <% @user.reviews.each do |review| %>
        <li><h4> Visited:  <%= link_to review.cafe.name, cafe_path(review.cafe) %> on
          <%= review.created_at.strftime("%b %d, %Y") %>.

          <%= link_to "Rated:", review_path(review) %>
          <% review.rating.times do %>
            *
          <% end %></h4>
        </li>
    <% end %>
  </ul>
<% else %>
  <h3>You haven't reviewed any cafes yet. Check out our <%= link_to "cafe directory", cafes_path %> to add a review!</h3>
<% end %>
