<h1>Categories for <%= @cafe.name %></h1>

<%= form_with model: @cafe do |f| %>

  <%= f.label :category_name %>
  <%= f.text_field :category_name, :value => "" %><br><br>

    <%= f.collection_check_boxes( :category_ids, Category.all, :id, :name ) %>

  <%= f.submit :"Edit Categories" %>
<% end %>
