<h1>Categories for <%= @cafe.name %></h1>

<%= form_with model: @cafe do |f| %>

  <%= f.label :'Create category name:' %>
  <%= f.text_field :'category_attributes[name]', :value => "" %><br><br>

  <%= f.label :'and/or select from existing:' %><br>

  <%= f.collection_check_boxes( :category_ids, Category.all, :id, :name ) do |b| %>
    <%= b.label(:"data-value" => b.value) { b.check_box + b.text } %><br>
  <% end %>

  <br><br>
  <%= f.submit :"Edit Categories" %>
<% end %>
