<h1><%= @cafe.name %></h1>

<h3>Location: <%= @cafe.city %>, <%= @cafe.state %></h3>

<% if @cafe.speciality %>
  <h3>Known for: <%= @cafe.speciality %></h3>
<% end %>

<%= form_for @cafe do |f| %>
  <%= f.label "Has Wifi?" %>
  <%= f.check_box :wifi %> <br />

  <%= f.label "Sells Food?" %>
  <%= f.check_box :food %> <br />
<% end %>

<h3>Seating Options: </h3>

<ul>
  <% if @cafe.table_chair_seating %>
    <li>Table and Chair Seating</li>
  <% end %>
  <% if @cafe.cushioned_seating %>
    <li>Cushioned Seating</li>
  <% end %>
  <% if @cafe.outdoor_seating %>
    <li>Outdoor Seating</li>
  <% end %>

  <% if [@cafe.table_chair_seating, @cafe.cushioned_seating, @cafe.outdoor_seating].none?(true) %>
    <h4>Add a seating option for this cafe</h4>
  <% end %>

</ul>

<%= button_to "Edit Info", edit_cafe_path(@cafe) %>

<br>
<h3>Reviews: </h3>
<% if @cafe.reviews.empty? %>
  <h4>No reviews yet</h4>
<% else %>
  <h4>Latest review: </h4>
  <h5>By: <%= @cafe.reviews.last.user.username %></h5>
  <p><%= @cafe.reviews.last.content %></p>
<% end %>

<%= link_to "Add a Review!", new_cafe_review_path(@cafe) %>

<br>
