<h1>Edit Review for <%= @cafe.name %>:</h1>

<%= form_with model: @review do |f| %>
  <%= f.label :'Select a rating' %>
  <%= f.select :rating, (1..5), include_blank: true %><br>

  <%= f.hidden_field :cafe_id %>

  <%= f.label :'Additional Information:' %>
  <%= f.text_area :content %><br>

  <%= f.submit %>
<% end %>
