<!DOCTYPE html>
<html>
  <head>
    <title>CafeDirectory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <header class='clearfix'>
        <div class="far-right-nav">
          <ul>
            <li>
              <%= link_to('Logout', {:controller => "sessions", :action => 'destroy'}, :method => :delete) %>
            </li>
          </ul>
        </div>
        <div class="left-nav">
          <ul>
            <li><%= link_to "Cafes", cafes_path %>  </li>
          </ul>
        </div>
        <div class="right-nav">
          <ul>
            <li>
              <%= link_to " Profile", user_path(current_user) %>
            </li>
          </ul>
        </div>
      </header>
    <% end %>

    <div class="errors">
      <% if flash[:message] %>
        <% flash[:message].each do |message| %>
          <%= "#{message}. " %>
        <% end %>
      <% end %>
    </div>

    <div class="content">
      <%= yield %>
    </div>
  </body>

</html>
